body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    object-fit: cover;
    width: 90%;
    background-color: aliceblue;
}